html {
    background: #9aa1ae;
    background-image: url("../metianbk.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    vertical-align: bottom;
    margin-left: 20%;
    margin-top: 40%;
}
